[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/jekyll-midnight"]
	path = themes/jekyll-midnight
	url = https://github.com/mattgraham/midnight.git
